html,body{
  margin: 0;
}

div, section {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  transition: background-color 1000ms ease; 
}

.quote-box{
  background-color: white;
  width: 35rem;
  position: fixed;
  top: 15%;
  left: 24%;
  padding: 1rem 3rem;
  border-radius: 5px;
}

.text {
  opacity: 1;
  font-family: 'Macondo Swash Caps', cursive;
  transition: background-color 1000ms ease;
}

.author {
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  transition: background-color 1000ms ease;   
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.new-quote {
  padding: .725rem 1rem;
  border-radius: 3px;
  border: none;
  color: white;
  transition: background-color 1000ms ease; 
}

.new-quote:hover {
  cursor: pointer;
  opacity: 0.9;
}

.new-quote:focus {
  outline: 0;
}

.twitter{
  font-size: 1rem;
  padding: .5rem .725rem;
  border-radius: 3px;
  border: none;
  color: white;
  transition: background-color 1000ms ease; 
}

.twitter:hover {
  cursor: pointer;
  opacity: 0.9;
}

.twitter:focus {
  outline: 0;
}